article {
	font-size: 55px;
	text-align: center;
	width:fit-content;
	border: dashed 5px;
}

p {
	font-size: 30px;
	text-align: center;
	width:fit-content;
	margin:	0;
	
}

div.body-div {
	display: block;
	border: dashed 5px;
}
